#team{
  padding-bottom: 100px;
}

.slick-track {
  margin: 60px 0;
}

.slick-slide {
  transition: all 0.3s ease;
}

.slick-slide > div {
  display: flex !important;
  justify-content: center;
  cursor:grab;
}

.slick-center {
  transform: scale(1.25);
}

.slick-prev,
.slick-next {
  width: 50px !important;
  height: 50px !important;
}

.slick-prev{
  left: -40px !important;
}

.slick-next{
  right: -40px !important;
}

#team>h1{
  text-align: center;
  padding-bottom: 50px;
}

.profile-card {
  width: 260px !important;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #fff;
  cursor: default;
}

.profile-card > .img-card {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0 40px 0;
  position: relative;
  border-radius: 20px 20px 0 20px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4070f4;
  border-radius: 20px 20px 0 20px;
}

.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070f4;
  border: none;
  user-select: none;
}
.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #fff;
}

.profile-card > .img-card > figure {
  width: 100px;
  height: 100px;
  background: #000;
  border-radius: 50%;
  z-index: 1;
}

.content {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content>.title{
  font-size: 24px;
  font-family: source;
}

.content > p {
  font-size: 14px;
  color: #707070;
  text-align: center;
}

.btn-card {
  padding: 10px 35px;
  margin-bottom: 20px;
  border-radius: 8px;
  background: linear-gradient(90deg, #53a8da 0%, #4425ba 100%);
  border: none;
  color: #fff;
  font-size: 16px;
  font-family: source;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-card:hover {
  transform: scale(1.1);
}
.btn-card:active {
  transform: scale(0.9);
}
